.info-1 {
  display: table;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px 0px #92A8d1;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: seashell;
  font-family: sans-serif;
  font-size: 25px;
  background: #92A8D1;
  border-radius: 20px;
}
.info-2 {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px #92A8d1;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: seashell;
    font-family: sans-serif;
    font-size: 25px;
    background: #92A8D1;
    border-radius: 20px;
  }
#bannerimage {
  width: 100%;
  background-image: url("../../../public/images/Bike-Europe-Stock-Chart.jpeg");
  height: 405px;
  background-color: slategrey;
  background-position: center;
}

h1.main-1 {
  color: seashell;
  text-align: center;
  padding-top: 170px;
  font-family: sans-serif;
  font-size: 60px;
}
h2.main-2{
    color: seashell;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 50px;
}
img.img-1{
    margin: 15px;
    border-radius: 25px;
}
img.img-2{
    margin: 15px;
    border-radius: 25px;
}
