h2 {
  font-family: "copperplate";
}

.intro {
  margin-top: 50px;
  margin-bottom: 50px;
}

.companies {
  display: table;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 0px 15px -8px blue;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.crypto {
  display: table;
  margin-left: 100px;
  margin-right: 100px;
  box-shadow: 0px 0px 15px -8px blue;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.card {
  float: left;
}

.all-cards {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card:hover {
  transform: scale(1.1);
}
